html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    padding: 5px;
    margin: 40px;
    gap: 40px;
    font-size: 16px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

.grid{
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-between;
    gap: 10px;
    row-gap: 10px;
}

.grid figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    border: 5px solid rgb(189, 189, 189);
    border-radius: 35px;
    overflow: hidden;
}

.grid figure img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 45%);
        align-items: center;
    }
    .grid figure {
        border-radius: 500px;
    }
    .grid figure:last-child {
        grid-column: 1/ span 2;
    }
}

@media screen and (min-width: 992px) {
    .grid figure{
        border-radius: 0px;
    }
    .grid figure:nth-child(3n) {
        grid-column: 1/ span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

@media (prefers-color-scheme: dark) {
    .grid figure {
        background-color: #000000;
        color: rgb(255, 232, 59);
        border-color: #000000;
    }
}
